@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");


*{
    font-family: "DM Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


:root{
--color-principal-600: #1e1345;
--color-principal-500: #301c6b;
--color-principal-400: #683ee6;
--color-principal-300: #d4defe;
--color-principal-200: #f5f6ff;
--color-prinicipal-0: #ffffff;
--borde-claro: 1px solid #d5dfff;
}

html{
    font-size: 16px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    height: 100px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.267);
    position: sticky;
    top: 0px;
    background-color: white;
    align-items: center;
    padding: 0 24px;
    color: black;
}

header .header-left-content{
    display: flex;
    flex-direction: row;
    color: black;
}

.header-options{
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 16px;
    color: black;
    text-decoration: none;
}

header .icon-hostinger{
    display: flex;
    flex-direction: row;
    padding-right: 20px;
    gap: 20px;
    position: relative;
    bottom: 5px;
    height: 147px 30px;
}

header .header-right-content{
    height: 229px 48px;
}

header .header-right-content a{
    border:none;
    background-color: transparent;
    
}

header .header-right-content button{
    border: 2px solid black;
    padding: 12px 16px;
    color: black;
    background-color: transparent;
    border-radius: 8px;
    
}


.color-72{
    color: var(--color-principal-400);
}
.hero{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 70px;
    padding-top: 36px;
}


.section-right-hero img{
    width: 880px;
    height: 576px
}

.section-left-hero{
    color: #1e1345;
}

.btn-menu{
    display: none;
}

.text-center{
    text-align: center;
}


.section{
    background-color: var(--color-principal-600);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.section-content{
    width: 1250px;
    display: flex;
    flex-direction: column;
    padding: 80px;
    align-items: center;
}


.title-medium{
    color: var(--color-prinicipal-0);
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 18px;
}

.text-medium{
    font-size: 16px;
    color: var(--color-prinicipal-0);
    font-weight: 400;
}

.text-subtitle{
    font-size: 18px;
    color: var(--color-prinicipal-0);
    font-weight: 700;
}


.btn-primary{
    background-color: var(--color-principal-400);
    font-weight: 700;
    font-size: 16px;
    color: var(--color-prinicipal-0);
    border: 2px solid var(--color-principal-400);
    border-radius: 8px;
    padding: 12px 48px;
    text-decoration: none;
}

.content-card{
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    padding: 32px;
    background-color: var(--color-principal-500);
    /* width: 30%; */
    /* Flex es una propiedad de hijo [o sea que el padre de este elemento debe ser una flexbox] */
    flex: 1; /* Se dividen equitativamente el espacio */
}

/* El profe le hubiera puesto cards-container */
.content-card-container{
    display: flex;
    flex-direction: row;
    margin-top: 35px;
    margin-bottom: 35px;
    gap: 24px;
    width: 100%;
}

.text-black{
    font-weight: 700;
}

.content-card__subtitle{
    margin-top: 10px;
    margin-bottom: 10px;
}

.content-card__img img{
    width: 40px;
    height: 40px;
}


.section-left-hero{
    color: var(--color-principal-500);
    display: flex;
    flex-direction: column;
    width: 440px;
    height: 442px;
    padding-left: 50px;
}

.items-hero{
    display: flex;
    flex-direction: column;
}

.bi-check-lg{
    color: green;
}

.item-hero{
    font-weight: 400px;
    margin: 4px;
}

.price-hero{
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.num-price-size{
    font-size: 48px;
}

.price-size{
    font-size: 20px;
}

.h1-hero{
    font-size: 36px;
    line-height: 40px;
}

.p-hero{
    font-size: 20px;
    margin-top: 8px;
    margin-bottom: 12px;
}

.buttons-hero{
    padding-top: 10px;
    display: flex;
    flex-direction: row;
}

.timer{
    align-items: center;
    background-color: #e3dcfc;
    border-radius: 8px;
    display: flex;
    height: 48px;
    justify-content: center;
    min-width: 160px;
    margin-left: 10px;
}

.icon-argentina{
    width: 32px;
    height: 20px;
    margin-top: 10px;
}



footer{
    background-color: #f4f5ff;
    padding: 56px 113px 12px;
}

.content-top-footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: flex-start; 
    margin-bottom: 40px;
    max-width: 1128px;
    margin: auto;
}

.content-footer-first{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
}

.hostinger-footer{
    width: 147px;
    height: 30px;
    color: #311c6e;
    fill: #311c6e;
    margin-right: 300px;
}

.iconSM-footer{
    display: flex;
    flex-direction: row;
    gap: 15px;
    color: #2f1c6a;
    fill: #2f1c6a;
}

.iconSM{
    width: 32px;
    height: 32px;
}

.content-footer-second{
    display: flex;
    justify-content: space-between; 
    width: 100%;
    margin-bottom: 30px;
}

.cards-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    margin-top: 20px;
}

.card-footer{
    width: 60px;
    height: 40px;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 7px;
}

.card-more{
    font-size: 14px;
    color: #673de6;
    font-weight: 700;
}

.legal-footer{
    font-size: 14px;
    color: #2f1c6a;
    display: flex;
    gap: 12px;
    margin-top: 31px;
}

.content-bottom-footer{
    padding: 24px 0;
    color: #2f1c6a;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    border-top: 1px solid #d5dfff;
    max-width: 1128px;
    margin: auto;
}

/* 
Color principal: #683ee6
*/

/* Las variables de css se declaran dentro del :root y su nombre debe empezar con -- */
/* ESTO NO ES NECESAIRO PARA HACER CSS, es una buena practica avanzada */

/* REM es una unidad que mide el font-size del html de nuestra pagina */
/* 1 Rem = 16px */


/* Cuando el ancho de mi pagina sea inferior a 1270px ocurrira x cosa */
@media screen and (max-width: 1270px){
    html{
        font-size: 15px;
    }
    .section__content{
        width: 688px;
    }
    .card-review-container{
        flex-direction: column;
    }
    .section{
        padding: 0px 16px;
    }
}

@media screen and (max-width: 768px) {
    html{
        font-size: 14px;
    }
    .section__content{
        width: 500px;
    }
    .section{
        padding: 0px 16px;
    }
    header .header-left-content nav{
        display: none;
    }
    header .header-right-content{
        display: none;
    }
    header .btn-menu{
        display: flex;
    }
}